<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Org create</title>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='fonts.css')}}">
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='links.css')}}">
</head>

<body>
    <br><br>
    <div class="font" align="center">
        <div> Create an organization </div>
        <br><br>
        <form method="post">
            <label for="username"> Enter an organization name </label>
            <br>
            <input id="username" name="username" type="text">
            <br>
            <input type="submit" value="Enter">
        </form>
    </div>
    <br><br>
    <div class="font" align="center">
        <a href="{{url_for('main.start_func')}}"> Return to main page</a>
    </div>
</body>
</html>