a:link {
    text-decoration: none;
    color: blue;
}
a:visited {
    text-decoration: none;
    color: blue;
}
a:active {
    text-decoration: none;
    color: blue;
}
a:hover {
    font-weight: bold;
    color: blue;
}