<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gitea API options</title>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='fonts.css')}}">
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='links.css')}}">
</head>

<body>
    <br><br><br>
    <div class="font" align="center"> Choose an option: </div>
    <br><br>
    <div class="font" align="center">
        <a href="{{url_for('api.create_org')}}"> Create an organization</a>
        <br>
        <a href="{{url_for('api.get_org')}}"> Get an organization</a>
        <br>
        <a href="{{url_for('api.delete_org')}}"> Delete an organization</a>
        <br><br>
        <a href="{{url_for('api.create_repo')}}"> Create a repo in organization</a>
        <br>
        <a href="{{url_for('api.get_repo')}}"> Get a repo in organization</a>
        <br>
        <a href="{{url_for('api.delete_repo')}}"> Delete a repo in organization</a>
        <br><br>
        <a href="{{url_for('api.get_commit')}}"> Get a commit</a>
        <br><br>
        <a href="{{url_for('api.clean')}}"> Clean server</a>
    </div>
    <br><br>
    <div class="font" align="center">
        <a href="{{url_for('main.start_func')}}"> Return to main page</a>
    </div>
</body>
</html>