<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repo delete fail</title>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='fonts.css')}}">
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='links.css')}}">
</head>

<body>
    <br><br>
    <div class="font" align="center"> Failed to delete a repo [{{reponame}}] in org [{{username}}]</div>
    <div class="font" style="font-size: large"> Status code: {{code}} </div>
    <div class="font" style="font-size: large"> Response: {{response}} </div>
    <br>
    <div class="font" align="center">
        <a href="{{url_for('main.start_func')}}"> Return to main page</a>
    </div>
</body>
</html>