<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repo delete success</title>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='fonts.css')}}">
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='links.css')}}">
</head>

<body>
    <br><br>
    <div class="font" align="center"> A repo [{{reponame}}] in org [{{username}}] deleted successfully! </div>
    <br>
    <div class="font" style="font-size: large">
        <table border = 1 width = 80%>
            {% for key in response %}
                <tr>
                    <td> {{key}} </td>
                    <td> {{response[key]}} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="font" align="center">
        <a href="{{url_for('main.start_func')}}"> Return to main page</a>
    </div>
</body>
</html>