<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scan success</title>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='fonts.css')}}">
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='links.css')}}">
</head>

<body>
    <br><br>
    <div class="font" align="center"> Scanning successful! </div>
    <br>
    <div class="font" align="center"> Hierarchy of a given repository: </div>
    <br>
    <pre class="font_graph">{{graph}}</pre>
    <br>
    <div class="font" align="center">
        <a href="{{url_for('migration.migrate')}}"> Migrate</a>
    </div>
    <br>
    <div class="font" align="center">
        <a href="{{url_for('main.start_func')}}"> Return to main page</a>
    </div>
</body>
</html>