<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scanning</title>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='fonts.css')}}">
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='links.css')}}">
</head>

<body>
    <br><br>
    <div class="font" align="center">
        <div> Scan a repository for nested submodules</div>
        <div> Enter target repo URL and required commit SHA1</div>
        <br><br>
        <form method="post">
            <label for="url"> URL: </label>
            <input id="url" name="url" type="text">
            <br>
            <label for="sha"> SHA1 </label>
            <input id="sha" name="sha" type="text">
            <br>
            <input type="submit" value="Enter">
        </form>
    </div>
    <br><br>
    <div class="font" align="center">
        <a href="{{url_for('main.start_func')}}"> Return to main page</a>
    </div>
</body>
</html>