<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Migration App</title>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='fonts.css')}}">
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='links.css')}}">
</head>

<body>
    <br><br><br><br>
    <div class="font" align="center">
        <a href="{{url_for('migration.scan')}}"> Migrate a repo</a>
        <br><br>
        <a href="{{url_for('api.api')}}"> Gitea server API</a>
    </div>
</body>
</html>