<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commit get</title>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='fonts.css')}}">
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='links.css')}}">
</head>

<body>
    <br><br>
    <div class="font" align="center">
        <div> Get a commit</div>
        <br><br>
        <form method="post">
            <label for="username"> Enter an organization name: </label>
            <input id="username" name="username" type="text">
            <br>
            <label for="reponame"> Enter a repo name: </label>
            <input id="reponame" name="reponame" type="text">
            <br>
            <label for="commit"> Enter a commit sha: </label>
            <input id="commit" name="commit" type="text">
            <br>
            <input type="submit" value="Enter">
        </form>
    </div>
    <br><br>
    <div class="font" align="center">
        <a href="{{url_for('main.start_func')}}"> Return to main page</a>
    </div>
</body>
</html>